@model Lanco_Project.Models.Transportes_BaseGeneral_Model

<div class="modal fade" id="DeleteTransport-@Model.Placa" tabindex="-1" aria-labelledby="DeleteTransportModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DeleteTransportModalLabel">Eliminar Transporte</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @using (Html.BeginForm("_Transportes_BaseGeneral_Delete", "Transportes", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="mb-1">
                        @Html.HiddenFor(model => model.Placa)
                    </div>
                    <div class="alert alert-danger" role="alert">
                        ¿Desea eliminar el Transporte: @Html.DisplayTextFor(m => m.Placa) ?
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </div>
            }
        </div>
    </div>
</div>
