@model Lanco_Project.Models.CRoutes

<div class="modal fade" id="EditRouteModal-@Model.RouteId" tabindex="-1" aria-labelledby="EditRouteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditRouteModalLabel">Editar el Rol</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @using (Html.BeginForm("EditRoute", "Catalogs", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="mb-1">
                        @Html.EditorFor(model => model.RouteId, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })
                        <label class="form-label">Nombre de la ruta</label>
                        @Html.EditorFor(model => model.RouteName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RouteName, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-1">
                        <label class="form-label">Estatus</label>
                        @Html.CheckBoxFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-check-input" } })
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnCloseEditRoute" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button id="btnEditRoute" type="submit" class="btn btn-primary">Actualizar</button>
                </div>
            }
        </div>
    </div>
</div>